body{
  font-family: Arial, helvetica, sans-serif;
  text-align: center;
  background-color: aliceblue;
  padding: 20px;  
}

h1{
    color: black;
}

.configuracoes{
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
}

.configuracoes label{
    margin: 10px 0 5px;
    font-weight: bold;
}

.configuracoes input {
    padding: 8px;
    width: 100px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #4caf50;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}